<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>@ViewBag.Title - GoodQRma</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <header class="masthead">
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://unsplash.com/photos/o6Y9E-DdG6w/download">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>We Need Volunteers</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://unsplash.com/photos/ob6O_xd67O0/download">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>Keep the Country clean</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://unsplash.com/photos/1eWaod96d3k/download">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>Use the technology</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.carousel-inner -->
                @* <div class="logo"><h1><center>GoodQRma</center></h1></div>*@
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- /.carousel -->

        </header>

        <!-- Fixed navbar -->
        <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-justified">
                        <li>@Html.ActionLink("View Event", "Index", "Event")</li>
                        <li>@Html.ActionLink("Create Event", "Create", "Event")</li>

                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                   
                    @Html.Partial("_LoginPartial")
                    </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div><!--/.navbar -->



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <center>
                    <p>&copy; @DateTime.Now.Year - GoodQRma.com</p>
                   
                </center>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        @RenderSection("scripts", required: false)
</body>
</html>