@model IEnumerable<GoodQRma.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.profilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webURL1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webURL2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webURL3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.profilePic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.webURL1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.webURL2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.webURL3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
