@model GoodQRma.Models.HelpForm

@{
    ViewBag.Title = "Contact us";
}
<section>
    <div id=" about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sub-head">
                    <h2 data-wow-delay="0.3s" class="wow rollIn animated"><strong><font color="black">How Can we help you?</font></strong></h2>
                    <h4><font face="Lucida Handwriting " color="00000 "><center>"Alone we can do so little,together we can do so much"</center></font></h4>
                    </h1>
                </div>
            </div>

            <!-- /.row -->
            <!-- Portfolio Item Row -->
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/qrcode.png" />

                </div>

                <aside id="contact-info">
                    <dl>
                        <dt>Email</dt>
                        <dd><a href="mailto:info@GoodQRma.com" title="Click to send us an email">info@GoodQRma.com</a></dd>
                        <dt>Telephone</dt>
                        <dd><a href="tel:00306977447033" title="Click to call us">313-555-1212</a></
                        <dd>
                        <dt>Address</dt>
                        <dd>
                            <address>
                                1570 Woodward avenue<br />
                                Detroit<br />
                                MI<br />
                                48084
                            </address>
                        </dd>
                        <dd class="social-links">
                            <a class="fb" href="http://www.facebook.com/GoodQRma" title="Find us on Facebook">Facebook</a> </br>
                            <a class="tt" href="http://twitter.com/GoodQRma" title="Find us on Twitter">Twitter</a> </br>
                        </dd>
                    </dl></h4>
                </aside>
            </div>

        </div>

        </font><
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-group">

                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.From)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
            </div><div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>

        }

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
</section>
</html>