@{
    ViewBag.Title = "Main Page";
    var ev1 = (Event)ViewData["event1"];
    var ev2 = (Event)ViewData["event2"];

}

@model GoodQRma.Models.HelpForm
@using Microsoft.AspNet.Identity
<html>
<head>

</head>
<!-- Wrap all page content here -->
<div id="wrap">
    <header class="masthead">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    
                        <img src="https://unsplash.com/photos/o6Y9E-DdG6w/download">
                    </a>
                    <div class="container">
                        <div class="carousel-caption">

                            <h1>Come and Join us</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="@Url.Action("Details", "Event", new { id = @ev1.eventID })">
                        <img src="https://christiancareministry.files.wordpress.com/2015/04/recent-study-links-health-benefits-to-volunteering.jpg">
                    </a>

                    <div class="container">
                        <div class="carousel-caption">

                            <h1>@ev1.name</h1>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="@Url.Action("Details", "Event", new { id = @ev2.eventID })">
                        <img src="http://i.huffpost.com/gen/1189832/images/o-VOLUNTEERING-BLOOD-PRESSURE-facebook.jpg">

                    </a>
                    <div class="container">
                        <div class="carousel-caption">

                            <h1>@ev2.name</h1>
                        </div>
                    </div>
                </div>



                <!-- /.carousel-inner -->
                @* <div class="logo"><h1><center>GoodQRma</center></h1></div>*@
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- /.carousel -->
    </header>



