@model GoodQRma.Models.Event
@{
    ViewBag.Title = "Details";
}
<h4>@Html.DisplayFor(model => model.name)</h4>
<center>
    <script>
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(@Model.gpsLat, @Model.gpsLong),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        }

        function loadScript() {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "http://maps.googleapis.com/maps/api/js?key=&sensor=false&callback=initialize";
            document.body.appendChild(script);
        }

        window.onload = loadScript;



    </script>
    <body>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '513038282181985',

                    xfbml      : true,
                    version    : 'v2.4'
                });
            };

            (function(d, s, id){

                var js, fjs = d.getElementsByTagName(s)[0]
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
    <div id="googleMap" style="width:800px;height:250px;float:left;"> </div>


    <img src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=http://maps.google.com?q=@Model.address1,@Model.city,@Model.state,@Model.zipCode" ;float:right;" />

    <div>

        </center>


        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.eventType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eventType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.eventDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eventDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.eventTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eventTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.numVolunteersNeeded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.numVolunteersNeeded)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.address1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.address1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.address2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.address2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.state)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.state)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.zipCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.zipCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.contact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.gpsLong)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.gpsLong)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.gpsLat)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.gpsLat)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.eventURL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eventURL)
            </dd>
        </dl>
    </div>
    <p>

        <center>

        @Html.ActionLink("Event Posters", "EventPoster", new { id = Model.eventID }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.eventID }) |
        @Html.ActionLink("Back to List", "Index")
        @*<div class="fb-share-button" data-href="http://goodqrma.azurewebsites.net" data-layout="button"></div>*@
    </p>

    <html>
    <head>
        <title>GoodQRma</title>
        <!-- You can use open graph tags to customize link previews.
        Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
        <meta property="og:url" content="http://www.goodqrma.azurewebsites.net" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@Model.name" />
        <meta property="og:description" content="@Model.description" />
        @*<meta property="og:image" content="http://graphics.myfavnews.com/images/logo-100x100.jpg" />*@
    </head>
    <body>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your share button code -->
        <div class="fb-share-button"
             data-href="http://www.goodqrma.azurewebsites/Edit/Details/@Model.eventID"
             data-layout="button_count">
        </div>
        </center>
</body>
</html>
