@model IEnumerable<GoodQRma.Models.eventLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventLogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventLogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventLogID })
        </td>
    </tr>
}

</table>
